.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 75px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    left: -75px;
  }

  100% {
    left: 100%;
  }
}

.workflow__area-4 .card {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.workflow__area-4 .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.workflow__area-4 .blog__title {
  text-align: left;
}

.workflow__area-4 .text-desc {
  text-align: left;
}

.workflow__area-4 .blog__btn {
  text-align: left;
}
